<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Файлы директории</title>
</head>
<body th:fragment="table-fragment">
    <div class="modal files-fragment">
        <table class="table table-secondary">
            <thead>
                <tr>
                    <td>Файл</td>
                    <td>Размер</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file : ${files}">
                    <td><span th:text="${file.getName()}"></span></td>
                    <td><span th:text="${file.getSize()}"></span></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-close"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/script.js}"></script>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    </div>
</body>
</html>